/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    font-size: 40px;
    padding: 20px;
  }
  
  .logo img {
    height: 600px;
    width: 1820px;
  }
  
  nav {
    background-color: #f1f1f1;
    padding: 15px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #333;
  }
  
  .dish img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .dish h3 {
    margin: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }